[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "oh-my-zsh/custom/plugins/zsh-completions"]
	path = oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim/pack/vendor/start/vim-airline"]
	path = vim/pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-airline-themes"]
	path = vim/pack/vendor/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-colors-solarized"]
	path = vim/pack/vendor/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-solarized8"]
	path = vim/pack/vendor/start/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
	ignore = untracked
[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-gutentags"]
	path = vim/pack/vendor/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-easymotion"]
	path = vim/pack/vendor/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
	ignore = untracked
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
	ignore = untracked
[submodule "tmux/plugins/tmux-pain-control"]
	path = tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control.git
	ignore = untracked
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
	ignore = untracked
[submodule "tmux/plugins/tmux-copycat"]
	path = tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
	ignore = untracked
[submodule "tmux/plugins/tmux-prefix-highlight"]
	path = tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
	ignore = untracked
[submodule "tmux/plugins/tmux-colors-solarized"]
	path = tmux/plugins/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
	ignore = untracked
